{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "docker/widget-dummy-host/index.html",
      "options": {
        "parser": "vue"
      }
    }
  ]
}
