<!-- @let ef = evaluatedFormula(); -->
<article class="calculator">
  <div class="formula-area">
    <math
      aria-label="Eingabebereich"
      display="block"
      linebreakstyle="after"
      linebreakmultchar="&times;"
      stretchy="true"
    >
      <mrow [appEditSequence]="editSequence()" [interactive]="true"></mrow>
    </math>
  </div>

  <div class="history">
    <button matIconButton [matMenuTriggerFor]="historyMenu" aria-label="Verlauf">
      <mat-icon>history</mat-icon>
    </button>
  </div>
  <div class="close">
    <button matIconButton (click)="handleClose()" aria-label="Schließen">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="nav expand" style="grid-area: nav0">
    <button matIconButton (click)="toggleNavExpanded()">
      @if (isNavExpanded()) {
        <mat-icon>chevron_left</mat-icon>
      } @else {
        <mat-icon>chevron_right</mat-icon>
      }
    </button>
  </div>
  @if (isNavExpanded()) {
    <div class="nav" style="grid-area: nav1">
      <button matFab (click)="handleButton('move', { direction: 'up' })">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </div>
    <div class="nav" style="grid-area: nav2">
      <button matFab (click)="handleButton('move', { direction: 'down' })">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div class="nav" style="grid-area: nav3">
      <button matFab (click)="handleButton('move', { direction: 'left' })">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="nav" style="grid-area: nav4">
      <button matFab (click)="handleButton('move', { direction: 'right' })">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  }

  <div class="control" style="grid-area: lpar">
    <button matFab (click)="handleButton('typeInput', {input:'('})">
      (
    </button>
  </div>
  <div class="control" style="grid-area: rpar">
    <button matFab (click)="handleButton('typeInput', {input:')'})">
      )
    </button>
  </div>
  <div class="control" style="grid-area: pi">
    <button matFab style="font-family: serif" (click)="handleButton('typeInput', { input: CONSTANT_PI })">
      &pi;
    </button>
  </div>
  <div class="control" style="grid-area: pow">
    <button matFab (click)="handleButton('applyExponent', { square: false })">
      x<sup style="font-size: 32px">&squ;</sup>
    </button>
  </div>
  <div class="control" style="grid-area: root">
    <button matFab (click)="handleButton('applyRoot', { sqrt: false })">
      <sup style="font-size: 32px">&squ;</sup>&radic;x
    </button>
  </div>
  <div class="control" style="grid-area: pow2">
    <button matFab (click)="handleButton('applyExponent', { square: true })">
      x<sup>2</sup>
    </button>
  </div>
  <div class="control" style="grid-area: sqrt">
    <button matFab (click)="handleButton('applyRoot', { sqrt: true })">
      <sup>2</sup>&radic;x
    </button>
  </div>
  <div class="control" style="grid-area: frac">
    <button matFab>
      <math display="inline" style="math-style: compact">
        <mfrac>
          <mrow>&squ;</mrow>
          <mrow>&#x25A0;</mrow>
        </mfrac>
      </math>
    </button>
  </div>
  <div class="control" style="grid-area: comp">
    <button matFab (click)="handleButton('applyFraction', { composite: true })">
      <math display="inline" style="math-style: compact; font-size: 80%">
        <mrow>&squ;</mrow>
        <mfrac>
          <mrow>&squ;</mrow>
          <mrow>&#x25A0;</mrow>
        </mfrac>
      </math>
    </button>
  </div>
  <div class="control" style="grid-area: s-d">
    <button matFab style="font-size: 38px" (click)="handleButton('toggleComposite', { })">
      S&DoubleLeftRightArrow;D
    </button>
  </div>

  <div class="control" style="grid-area: c">
    <button matFab (click)="handleButton('clearAll', { })">
      C
    </button>
  </div>
  <div class="control numpad backspace" style="grid-area: back">
    <button matFab (click)="handleButton('backspace', { })">
      <mat-icon>backspace</mat-icon>
    </button>
  </div>
  @for (d of DIGITS; track d) {
    <div class="control numpad" [style.grid-area]="`num${d}`">
      <button matFab (click)="handleButton('typeInput', { input: d })">
        {{ d }}
      </button>
    </div>
  }
  <div class="control numpad" style="grid-area: neg">
    <button matFab (click)="handleButton('toggleNegate', { })">
      &plus;&frasl;&minus;
    </button>
  </div>
  <div class="control numpad" style="grid-area: dot">
    <button matFab (click)="handleButton('typeInput', { input: '.' })">
      &comma;
    </button>
  </div>

  <div class="control operation" style="grid-area: add">
    <button matFab (click)="handleButton('typeInput', { input: '+' })">
      &plus;
    </button>
  </div>
  <div class="control operation" style="grid-area: sub">
    <button matFab (click)="handleButton('typeInput', { input: '-' })">
      &minus;
    </button>
  </div>
  <div class="control operation" style="grid-area: div">
    <button matFab (click)="handleButton('typeInput', { input: '/' })">
      &divide;
    </button>
  </div>
  <div class="control operation" style="grid-area: mul">
    <button matFab (click)="handleButton('typeInput', { input: '*' })">
      &times;
    </button>
  </div>

  <div class="control operation" style="grid-area: eval">
    <button matFab (click)="executeEvaluation('exact')">
      &equals;
    </button>
  </div>
  <div class="control" style="grid-area: dec">
    <button matFab (click)="executeEvaluation('decimal')">
      &approx;
    </button>
  </div>
</article>

<mat-menu #historyMenu="matMenu" [hasBackdrop]="true">
  <ng-template matMenuContent>
    <div>HISTORY GOES HERE</div>
  </ng-template>
</mat-menu>
