.bond-line {
  pointer-events: none;

  stroke: var(--mat-sys-on-surface);
  stroke-width: 2;

  &.temporary {
    stroke-dasharray: 4;
  }

  &.selected {
    stroke: var(--mat-sys-primary);
    stroke-width: 4;
  }
}

.clickable-bond-line {
  stroke: transparent;
  stroke-width: 20;

  &:hover {
    stroke: var(--mat-sys-surface-dim);
  }
}
