.clickable {
  stroke: transparent;
  stroke-width: 20;

  &:hover {
    stroke: var(--mat-sys-surface-dim);
  }
}

.bond-line {
  pointer-events: none;

  stroke: var(--mat-sys-on-surface);
  stroke-width: 2;

  &.temporary {
    stroke-dasharray: 4;
  }

  &.selected {
    filter: brightness(150%);
    stroke: var(--mat-sys-primary);
    stroke-width: 3;
  }
}

.bond-dot {
  pointer-events: none;

  fill: var(--mat-sys-on-surface);
  stroke-width: 0;

  &.temporary {
    opacity: 50%;
  }

  &.selected {
    r: 5px;
    filter: brightness(150%);
    fill: var(--mat-sys-primary);
  }
}
