<svg
  appSvgCanvas
  [svgCanvasHost]="hostRef.nativeElement"
  [svgCanvasScale]="canvasScale()"
  [style.cursor]="canvasCursor()"
  [style.--atom-handle-cursor]="atomHandleCursor()"
  (pointermove)="service.handleCanvasEvent($event)"
  (pointerdown)="service.handleCanvasEvent($event)"
  (pointerup)="service.handleCanvasEvent($event)"
  (touchmove)="service.handleCanvasEvent($event)"
  (click)="service.handleCanvasEvent($event)"
>
  @let view = renderer.renderedView();
  @for (bond of view.bonds; track bond.itemId) {
    <g [bondView]="bond"></g>
  }
  @for (atom of view.atoms; track atom.itemId) {
    <g [atomView]="atom"></g>
  }
</svg>
