<mat-drawer-container class="main-container">
  <!-- Element picker -->
  <mat-drawer mode="over" position="end" [(opened)]="service.openPicker">
    <div class="ps-table-container">
      <lib-ps-table>
        <div *psTableInteractions class="ps-table-interactions">
          <button matButton="filled" type="button" (click)="service.dismissElementPicker()">
            <mat-icon>close</mat-icon>
            Schließen
          </button>
        </div>
      </lib-ps-table>
    </div>
  </mat-drawer>

  <!-- Canvas and Menu UI -->
  <main [inert]="isLoadingSubmit()">
    <app-editor-canvas />
    <app-editor-controls>
      <ng-template #save>
        @if (isLoadingSubmit()) {
          <mat-spinner [diameter]="50" />
        } @else {
          <button class="save-button" matButton="filled" [disabled]="isModelEmpty()" (click)="handleSubmitModel()">
            <mat-icon>check</mat-icon>
            Speichern
          </button>
        }
      </ng-template>
    </app-editor-controls>
  </main>
</mat-drawer-container>
