<ng-container xmlns:math="http://www.w3.org/1998/Math/MathML">
  @let current = node();
  @switch (current.kind) {
    @case ('hole') {
      <math:mi [title]="current.label" [style.cursor]="cursorStyle()" (click)="handleClick($event)">
        &square;
      </math:mi>
    }
    @case ('number') {
      <math:mtext [style.cursor]="cursorStyle()" (click)="handleClick($event)">
        {{ current.literal.replace('.', ',') }}
      </math:mtext>
    }
    @case ('constant') {
      <math:mtext [style.cursor]="cursorStyle()" (click)="handleClick($event)">
        {{ CONSTANTS[current.symbol].unicode }}
      </math:mtext>
    }
    @case ('group') {
      <math:mo>{{ FENCES[current.fence][0] }}</math:mo>
      <math:mrow [appFormulaNode]="current.expression" [interactive]="interactive()"></math:mrow>
      <math:mo>{{ FENCES[current.fence][1] }}</math:mo>
    }
    @case ('negate') {
      <math:mo>&minus;</math:mo>
      <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'operand' }"></ng-container>
    }
    @case ('add') {
      <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'left' }"></ng-container>
      <math:mo>&plus;</math:mo>
      <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'right' }"></ng-container>
    }
    @case ('subtract') {
      <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'left' }"></ng-container>
      <math:mo>&minus;</math:mo>
      <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'right' }"></ng-container>
    }
    @case ('multiply') {
      <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'left' }"></ng-container>
      <math:mo>{{ MULTIPLIERS[current.notation] }}</math:mo>
      <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'right' }"></ng-container>
    }
    @case ('divide') {
      @if (current.notation === 'fraction') {
        <math:mfrac>
          <math:mrow [appFormulaNode]="current.divisor" [interactive]="interactive()"></math:mrow>
          <math:mrow [appFormulaNode]="current.dividend" [interactive]="interactive()"></math:mrow>
        </math:mfrac>
      } @else {
        <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'divisor' }"></ng-container>
        <math:mo>{{ DIVIDERS[current.notation] }}</math:mo>
        <ng-container *ngTemplateOutlet="renderChild; context: { slot: 'dividend' }"></ng-container>
      }
    }
    @case ('composite') {
      <math:mrow [appFormulaNode]="current.integerPart" [interactive]="interactive()"></math:mrow>
      <math:mfrac>
        <math:mrow [appFormulaNode]="current.numerator" [interactive]="interactive()"></math:mrow>
        <math:mrow [appFormulaNode]="current.denominator" [interactive]="interactive()"></math:mrow>
      </math:mfrac>
    }
    @case ('pow') {

    }
    @case ('root') {

    }
  }

  <ng-template #renderChild let-slot="slot">
    @let child = getSlot(current, slot);
    @if (needsParentheses(current, slot, child)) {
      <math:mo>(</math:mo>
      <math:mrow [appFormulaNode]="child" [interactive]="interactive()"></math:mrow>
      <math:mo>)</math:mo>
    } @else {
      <math:mrow [appFormulaNode]="child" [interactive]="interactive()"></math:mrow>
    }
  </ng-template>
</ng-container>
