@let atom = atomView();
@let centerX = atom.position[0];
@let centerY = atom.position[1];
<ng-container xmlns:svg="http://www.w3.org/2000/svg">
  <svg:circle
    class="atom-handle"
    [class.selected]="atom.selected"
    [class.temporary]="atom.temporary"
    [class.targeted]="atom.targeted"
    [attr.cx]="centerX"
    [attr.cy]="centerY"
    [attr.r]="20"
    (pointermove)="service.handleAtomEvent(atom.itemId, $event)"
    (pointerdown)="service.handleAtomEvent(atom.itemId, $event)"
    (pointerup)="service.handleAtomEvent(atom.itemId, $event)"
    (click)="service.handleAtomEvent(atom.itemId, $event)"
  ></svg:circle>

  <svg:text
    class="atom-symbol"
    [class.selected]="atom.selected"
    [class.temporary]="atom.temporary"
    [class.targeted]="atom.targeted"
    [attr.x]="centerX"
    [attr.y]="centerY"
  >
    {{ atom.element.symbol }}
  </svg:text>

  @for (electron of atom.electrons; track $index) {
    @switch (electron.type) {
      @case (1) {
        @let coords = singleElectronCoordinates(electron.orientation, 28);
        <svg:circle
          class="atom-electron"
          [attr.cx]="coords.x"
          [attr.cy]="coords.y"
          r="4"
        ></svg:circle>
      }
      @case (2) {
        @let coords = doubleElectronCoordinates(electron.orientation, 28, 12);
        <svg:line
          class="atom-electron"
          [attr.x1]="coords.x1"
          [attr.y1]="coords.y1"
          [attr.x2]="coords.x2"
          [attr.y2]="coords.y2"
          stroke-width="3.5"
        ></svg:line>
      }
    }
  }
</ng-container>
